{% extends 'admin/base.html' %}
{% load static %}
{% block branding %}
<h1 id="head" style="font-size: 30px; font-weight: bold;">
    <img src="/static/images/images.png" width="35" height="35" alt="">
    Westgate
</h1>
{% endblock %}
{% block extrastyle %}
<link href="/static/css/adminstyle.css" rel="stylesheet">
<style>
    /* Add CSS styles for the h2 element */
    h2 {
        font-weight: bold;
        font-size: 24px;
        /* Adjust the font size as needed */
    }
</style>
{% endblock %}