{% extends 'base.html' %}
{% load static %}

<body>
    {% block content %}
    <div class="header_section">
        
        <!-- banner section start -->
        <div class="banner_section layout_padding">
            <div class="container">
                <div id="banner_slider" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="banner_img"><img src="static/images/all-you-can-eat.jpg"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="banner_taital_main">
                                        <h1 class="banner_taital">Westgate</h1>
                                        <h5 class="tasty_text">Welcome to The Westgate Hotel</h5>
                                        <p class="banner_text">Stay once and carry good memories forever</p>
                                        <div class="btn_main">
                                            <div class="about_bt"><a href="#">About Us</a></div>
                                            <div class="callnow_bt active"><a href="#">Call Now</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="banner_img"><img src="static/images/all-you-can-eat.jpg"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="banner_taital_main">
                                        <h1 class="banner_taital">Westgate</h1>
                                        <h5 class="tasty_text">Welcome to The Westgate Hotel</h5>
                                        <p class="banner_text">Stay once and carry good memories forever</p>
                                        <div class="btn_main">
                                            <div class="about_bt"><a href="#">About Us</a></div>
                                            <div class="callnow_bt active"><a href="#">Call Now</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="banner_img"><img src="static/images/all-you-can-eat.jpg"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="banner_taital_main">
                                        <h1 class="banner_taital">Westgate</h1>
                                        <h5 class="tasty_text">Welcome to The Westgate Hotel</h5>
                                        <p class="banner_text">Stay once and carry good memories forever </p>
                                        <div class="btn_main">
                                            <div class="about_bt"><a href="#">About Us</a></div>
                                            <div class="callnow_bt active"><a href="#">Call Now</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#banner_slider" role="button" data-slide="prev">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#banner_slider" role="button" data-slide="next">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <!-- banner section end -->
    </div>
    <!-- header section end -->
    <!-- coffee section start
    <div class="coffee_section layout_padding">
        <div class="container">
            <div class="row">
                <h1 class="coffee_taital">OUR BREAKFAST</h1>
                <div class="bulit_icon"><img src="static/images/bulit-icon.png"></div>
            </div>
        </div>
        <div class="coffee_section_2">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="coffee_img"><img src="static/images/img-1.png"></div>
                                    <h3 class="types_text">CAPUCCINO</h3>
                                    <p class="looking_text">Capuccino</p>
                                    <div class="read_bt"><a href="#">Read More</a></div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="coffee_img"><img src="static/images/img-2.png"></div>
                                    <h3 class="types_text">BEAN VARIETIES</h3>
                                    <p class="looking_text">We use different coffee bean variety depending on all our customers preferences</p>
                                    <div class="read_bt"><a href="#">Read More</a></div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="coffee_img"><img src="static/images/img-3.png"></div>
                                    <h3 class="types_text">COFFEE & PASTRY</h3>
                                    <p class="looking_text">delicious combination of coffee and pastry
                                    </p>
                                    <div class="read_bt"><a href="#">Read More</a></div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="coffee_img"><img src="static/images/img-4.png"></div>
                                    <h3 class="types_text">MILK TEA</h3>
                                    <p class="looking_text">fresh quality milk tea</p>
                                    <div class="read_bt"><a href="#">Read More</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="coffee_img"><img src="static/images/img-1.png"></div>
                                    <h3 class="types_text">TYPES OF COFFEE</h3>
                                    <p class="looking_text">looking at its layout. The point of</p>
                                    <div class="read_bt"><a href="#">Read More</a></div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="coffee_img"><img src="static/images/img-2.png"></div>
                                    <h3 class="types_text">BEAN VARIETIES</h3>
                                    <p class="looking_text">looking at its layout. The point of</p>
                                    <div class="read_bt"><a href="#">Read More</a></div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="coffee_img"><img src="static/images/img-3.png"></div>
                                    <h3 class="types_text">COFFEE & PASTRY</h3>
                                    <p class="looking_text">looking at its layout. The point of</p>
                                    <div class="read_bt"><a href="#">Read More</a></div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="coffee_img"><img src="static/images/img-4.png"></div>
                                    <h3 class="types_text">COFFEE TO GO</h3>
                                    <p class="looking_text">looking at its layout. The point of</p>
                                    <div class="read_bt"><a href="#">Read More</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <div class="coffee_img"><img src="static/images/img-1.png"></div>
                                    <h3 class="types_text">TYPES OF COFFEE</h3>
                                    <p class="looking_text">Capuccino</p>
                                    <div class="read_bt"><a href="#">Read More</a></div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="coffee_img"><img src="static/images/img-2.png"></div>
                                    <h3 class="types_text">BEAN VARIETIES</h3>
                                    <p class="looking_text">Black coffee</p>
                                    <div class="read_bt"><a href="#">Read More</a></div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="coffee_img"><img src="static/images/img-3.png"></div>
                                    <h3 class="types_text">COFFEE & PASTRY</h3>
                                    <p class="looking_text">Delicious combination of latte coffe and pastry</p>
                                    <div class="read_bt"><a href="#">Read More</a></div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="coffee_img"><img src="static/images/img-4.png"></div>
                                    <h3 class="types_text">milk Tea</h3>
                                    <p class="looking_text">pure milk</p>
                                    <div class="read_bt"><a href="#">Read More</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div> -->
    <!-- coffee section end -->
    <!-- about section start -->
    <div class="about_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="about_taital">About Our Hotel</h1>
                    <div class="bulit_icon"><img src="static/images/bulit-icon.png"></div>
                </div>
            </div>
            <div class="about_section_2 layout_padding">
                <div class="image_iman"><img src="static/images/about-img.png" class="about_img"></div>
                <div class="about_taital_box">
                    <h1 class="about_taital_1">The Westgate hotel'</h1>
                    <p class=" about_text">is the largest hotel in the area, erected in the serene atmosphere of Mumias Town, Kakamega county. The hotel offers first class accomodation combined with modern conference facilities and range of bars and restaurants designed to
                        make your stay a pleasure.
                    </p>
                    <div class="readmore_btn"><a href="#">Read More</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- about section end -->
    <!-- client section start -->
    <div class="client_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="about_taital">What customers say about us</h1>
                    <div class="bulit_icon"><img src="static/images/bulit-icon.png"></div>
                </div>
            </div>
            <div class="client_section_2">
                <div class="client_taital_main">
                    <div class="client_left">
                        <div class="client_img"><img src="static/images/client-img1.png"></div>
                    </div>
                    <div class="client_right">
                        <h3 class="moark_text">Joy Moark</h3>
                        <p class="client_text">The staff went above and beyond at all times, From suggesting restaurants and then securing a table for us. The room was perfect.</p>
                    </div>
                </div>
                <div class="client_taital_main">
                    <div class="client_left">
                        <div class="client_img"><img src="static/images/client-img2.png"></div>
                    </div>
                    <div class="client_right">
                        <h3 class="moark_text">Mihacal</h3>
                        <p class="client_text">Everything was top standard, the decor throughout was lovely, clean and well maintained. The receptionist, the guard on the parking and our waiter were all exceptional hosts and made our stay most memorable incluidindg a birthday
                            cake in our room and a candle desert after dinner, all personal to us thank you all. </p>
                    </div>
                </div>
                <div class="client_taital_main">
                    <div class="client_left">
                        <div class="client_img"><img src="static/images/client-img3.png"></div>
                    </div>
                    <div class="client_right">
                        <h3 class="moark_text">Uliya den</h3>
                        <p class="client_text">I recently dined at Westgate hotel and was thoroughly impressed by both the exquisite cuisine and the impeccable service. The menu showcased a variety of innovative dishes, blending bold flavors and beautiful presentation.The attentive
                            and knowledgeable staff ensured that our meal was a memorable one, providing excellent recommendations and ensuring our satisfaction.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- client section end -->
    <!-- blog section start -->
    <div class="blog_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="about_taital">Our Blog</h1>
                    <div class="bulit_icon"><img src="static/images/bulit-icon.png"></div>
                </div>
            </div>
            <div class="blog_section_2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="blog_box">
                            <div class="blog_img"><img src="static/images/blog-img1.png"></div>
                            <h4 class="date_text">05 April</h4>
                            <h4 class="prep_text"></h4>
                            <p class="lorem_text"></p>
                        </div>
                        <div class="read_bt"><a href="#">Read More</a></div>
                    </div>
                    <div class="col-md-6">
                        <div class="blog_box">
                            <div class="blog_img"><img src="static/images/blog-img2.png"></div>
                            <h4 class="date_text">05 April</h4>
                            <h4 class="prep_text"></h4>
                            <p class="lorem_text">
                            </p>
                        </div>
                        <div class="read_bt"><a href="#">Read More</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog section end -->
    <!-- contact section start -->
    <div class="contact_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="contact_taital">Get In Touch</h1>
                    <div class="bulit_icon"><img src="static/images/bulit-icon.png"></div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="contact_section_2">
                <div class="row">
                    <div class="col-md-12">
                        
                            <form method="post" action="{% url 'contact' %}">
                                {% csrf_token %}
                                {% include 'partials/_messages.html' %}
                                <div class="mail_section_1">
                                    <input type="text" class="mail_text" placeholder="Your Name" name="name">
                                    <input type="email" class="mail_text" placeholder="Your Email" name="email">
                                    <input type="tel" class="mail_text" placeholder="Your Phone" name="phone">
                                    <textarea class="massage-bt" placeholder="Message" rows="5" name="message"></textarea>
                                    <div class="send_bt"><button class="send_bt btn btn-primary mt-4" type="submit">SEND</button></div>
                                </div>
                            </form>
                        
                    </div>
                    <div class="map_main">
                        <div class="map-responsive">
                            <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="250" height="500" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact section end -->
    
    <!-- Javascript files-->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery-3.0.0.min.js"></script>
    <script src="js/plugin.js"></script>
    <!-- sidebar -->
    <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="js/custom.js"></script>
    {% endblock %}
</body>
