{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Welcome to your cart</h2>
    <div class="row">
        <!-- Iterate over cart items -->
        {% for cart_item in cart_items %}
        {% include 'partials/_messages.html' %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ cart_item.meal.image.url }}" class="card-img-top" alt="{{ cart_item.meal.name }}">
                <div class="card-body">
                    <!-- Add remove icon -->
                    <form action="{% url 'remove_from_cart' cart_item.id %}" method="post" id="remove-form">
                        {% include 'partials/_messages.html' %}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-link p-0 m-0">
                            <img src="{% static 'images/x.png' %}" alt="Remove" class="remove-icon"
                                style="cursor: pointer; width: 20px; height: 20px;">
                        </button>
                    </form>
                    <h5 class="card-title">{{ cart_item.meal.name }}</h5>
                    <p class="card-text">Price: Ksh {{ cart_item.meal.price }}</p>

                    <input type="hidden" name="item_id" value="{{ cart_item.id }}">
                    <div class="quantity-controls">
                        <a href="{% url 'decrement_quantity' cart_item.id %}" class="btn btn-secondary">-</a>
                        <span class="quantity-value">{{ cart_item.quantity }}</span>
                        <a href="{% url 'increment_quantity' cart_item.id %}" class="btn btn-secondary">+</a>
                    </div>

                    <p class="subtotal">Subtotal: Ksh {{ cart_item.subtotal }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Delete all and Make order buttons -->
    <div class="text-center mt-4 mb-5">
        <form action="{% url 'remove_all_from_cart' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete All</button>
        </form>
        <!-- Make Order button with modal trigger -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#orderModal">Make Order</button>

        <p>Total: Ksh {{ total_amount }}</p>
    </div>
</div>

<!-- Order Modal -->
<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderModalLabel">Order Form</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Include your order form here -->
                <form method="post" action="{% url 'order_submit' %}" class="needs-validation" novalidate>
                    {% csrf_token %}
                    <!-- Loop through cart items and include hidden input fields for meal name, quantity, and subtotal -->
                    {% for cart_item in cart_items %}
                    <input type="hidden" name="meals[]" value="{{ cart_item.meal.name }}">
                    <input type="hidden" name="quantities[]" value="{{ cart_item.quantity }}">
                    <input type="hidden" name="subtotals[]" value="{{ cart_item.subtotal }}">
                    {% endfor %}
                    <input type="text" class="mail_text" id="delivery_location" name="delivery_location"
                        placeholder="Delivery location" required>
                    <input type="tel" class="mail_text" id="phoneNumber" placeholder="Phone number" name="phone_number"
                        required>
                    <select class="mail_text" id="paymentMode" placeholder="Payment mode" name="payment_mode" required>
                        <option value="mpesa">Mpesa</option>
                        <option value="pay_on_arrival">Pay on Arrival</option>
                    </select>
                    <div class="send_bt mt-4">
                        <button type="submit" class="btn send_bt mt-4 btn-primary">Place order</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

<script>
    // JavaScript to handle modal closing event and form submission
    $(document).ready(function () {
        // Clear modal content when modal is closed
        $('#orderModal').on('hidden.bs.modal', function () {
            $(this).find('.modal-body').html('');
        });

    });
</script>